* {
  margin: 0;
  padding: 0;
}

/* STANDART COMPONENTS  */

body {
  width: 100vw;
  height: 100vh;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
}

input {
  padding: 5px;
  font-size: 18px;
  border: 2px solid black;
  background-color: #ebebeb;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

/* USER COMPONENTS  */

/* MATH BLOCK  */

.working-space {
  width: 1200px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px;
}

.math-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.shot-settings, .shot-info, .after-shot-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 20px;

}

#start {
  padding: 7px;
  margin-top: 10px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #77c264;
  cursor: pointer;
}

#start:hover {
  background-color: #67a857;
}

.shot-info {
  flex-direction: row;
}

.shot-info div {
  width: 50%;
}


/* SIMULATOR BLOCK  */

.simulator-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.simulator {
  width: 700px;
  height: 350px;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
}

.x-label {
  font-weight: bold;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

#y-axis {
  position: relative;
  left: -350px;
  font-weight: bold;
}

#stone {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgb(0, 98, 255);
  position: relative;
  top: 335px;
}

.stone-track {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgba(127, 175, 252, 0.553);
  position: absolute;
  z-index: -1;
}
